<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="MetadataExchangeHttpsBinding_IService1">
                    <security mode="Transport">
                        <transport clientCredentialType="None" />
                    </security>
                </binding>
                <binding name="MetadataExchangeHttpBinding_IService1">
                    <security mode="None" />
                </binding>
                <binding name="MetadataExchangeHttpsBinding_IService11">
                    <security mode="Transport">
                        <transport clientCredentialType="None" />
                    </security>
                </binding>
                <binding name="MetadataExchangeHttpBinding_IService11">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:10443/WCF_HttpsWinService/service1"
                binding="wsHttpBinding" bindingConfiguration="MetadataExchangeHttpsBinding_IService1"
                contract="WCF_HttpWinService.IService1" name="MetadataExchangeHttpsBinding_IService1" />
            <endpoint address="http://localhost:10010/WCF_HttpsWinService/service1"
                binding="wsHttpBinding" bindingConfiguration="MetadataExchangeHttpBinding_IService1"
                contract="WCF_HttpWinService.IService1" name="MetadataExchangeHttpBinding_IService1" />
            <endpoint address="https://localhost:10443/WCF_HttpsWinService/service1"
                binding="wsHttpBinding" bindingConfiguration="MetadataExchangeHttpsBinding_IService11"
                contract="WCF_HttpsWinService.IService1" name="MetadataExchangeHttpsBinding_IService11" />
            <endpoint address="http://localhost:10010/WCF_HttpsWinService/service1"
                binding="wsHttpBinding" bindingConfiguration="MetadataExchangeHttpBinding_IService11"
                contract="WCF_HttpsWinService.IService1" name="MetadataExchangeHttpBinding_IService11" />
        </client>
    </system.serviceModel>
</configuration>